.yahei_font{
	font-family:"Microsoft YaHei";
}

.black{
	color:#000000;
}

.maroon{
	color:#800000;
}

.green{
	color:#008000;
}

.navy{
	color:#000080;
}

.sliver{
	color:#C0C0C0;
}

.red{
	color:#FF0000;
}

.lime{
    color:#00FF00;
}

.blue{
	color:#0000FF;
}

.gray{
	color:#808080;
}

.purple{
	color:#800080;
}

.olive{
	color:#808000;
}

.teal{
	color:#008080;
}

.white{
	color:#FFFFFF;
}

.fuchsia{
	color:#FF00FF;
}

.yellow{
	color:#FFFF00;
}

.aqua{
	color:#00FFFF;
}